<div class="mb-6">
    <div id="toast-interactive"
        class="w-full p-4 text-gray-500 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-400" role="alert">
        <div class="flex">
            <div
                class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:text-blue-300 dark:bg-blue-900">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15.147 15.085a7.159 7.159 0 0 1-6.189 3.307A6.713 6.713 0 0 1 3.1 15.444c-2.679-4.513.287-8.737.888-9.548A4.373 4.373 0 0 0 5 1.608c1.287.953 6.445 3.218 5.537 10.5 1.5-1.122 2.706-3.01 2.853-6.14 1.433 1.049 3.993 5.395 1.757 9.117Z" />
                </svg>
                <span class="sr-only">Fire icon</span>
            </div>
            <div class="ml-3 text-sm font-normal">
                <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white">PARA Method:</span>
                <div class="mb-2 text-sm font-normal">Get More Done
                    With This Productivity Framework for Organizing Your Life</div>
                <div class="pb-6">
                    <div class="py-2">
                        <h3 class="text-xl text-gray-800">Projects</h3>
                        <p>Projects usualy short-term, aggregate commitments that require more than one action step to
                            complete. That can
                            be anything from a new business venture to that book you’ve always wanted to write.</p>
                    </div>
                    <div class="py-2">
                        <h3 class="text-xl text-gray-800">Areas</h3>
                        <p>Long-term commitments with the singular goal of improving specific areas of your daily life.
                            Unlike Projects, Areas usually don’t have a set deadline.</p>
                    </div>
                    <div class="py-2">
                        <h3 class="text-xl text-gray-800">Resources</h3>
                        <p>Resources are a smorgasbord of books, articles, tips & tricks, personal notes and a range of
                            topics you’re interested in and learning about</p>
                    </div>
                    <div class="py-2">
                        <h3 class="text-xl text-gray-800">Archives</h3>
                        <p>Archives act as storage for any information you don’t necessarily need today but may want to
                            reference it in the future. That also includes completed and paused projects.</p>
                    </div>
                </div>

                <a href="#"
                    class="inline-flex w-full md:w-auto justify-center  py-1.5 px-4 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 rounded hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                    Find out more
                </a>

            </div>
            <button type="button"
                class="ml-auto -mx-1.5 -my-1.5 bg-white items-center justify-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                data-dismiss-target="#toast-interactive" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
            </button>
        </div>
    </div>
</div>