{% extends 'notes_app/base.html' %}
{% block title %}{{note.title}}{% endblock %}

{% block content %}


<div class="pt-20 p-4 sm:ml-64 sm:w-auto 2xl:ml-32 2xl:w-full">
    <div class="container w-full">

        <div class="">
            <h2 class="pb-2">Are you sure you want to deleate:</h2>
            <h3 class="text-2xl">{{ note.title }}</h3>

            <form class="mt-6" id="form" method="post">
                {% csrf_token %}
                <button class="text-purple-700 hover:text-purple-900 underline" type="submit">Delete</button>
                <a href="{% url 'note_detail' slug=note.slug %}"" class=" text-purple-700 hover:text-purple-900
                    underline ml-2">Cancel</a>
            </form>

        </div>
    </div>
</div>


{% endblock content %}